/*
Errno::ENOENT: No such file or directory - main.scss

Backtrace:
/var/lib/gems/1.9.1/gems/sass-3.3.2/lib/sass/plugin/compiler.rb:405:in `read'
/var/lib/gems/1.9.1/gems/sass-3.3.2/lib/sass/plugin/compiler.rb:405:in `update_stylesheet'
/var/lib/gems/1.9.1/gems/sass-3.3.2/lib/sass/plugin/compiler.rb:189:in `block in update_stylesheets'
/var/lib/gems/1.9.1/gems/sass-3.3.2/lib/sass/plugin/compiler.rb:186:in `each'
/var/lib/gems/1.9.1/gems/sass-3.3.2/lib/sass/plugin/compiler.rb:186:in `update_stylesheets'
/var/lib/gems/1.9.1/gems/sass-3.3.2/lib/sass/plugin/compiler.rb:221:in `watch'
/var/lib/gems/1.9.1/gems/sass-3.3.2/lib/sass/plugin.rb:108:in `method_missing'
/var/lib/gems/1.9.1/gems/sass-3.3.2/lib/sass/exec.rb:509:in `watch_or_update'
/var/lib/gems/1.9.1/gems/sass-3.3.2/lib/sass/exec.rb:346:in `process_result'
/var/lib/gems/1.9.1/gems/sass-3.3.2/lib/sass/exec.rb:43:in `parse'
/var/lib/gems/1.9.1/gems/sass-3.3.2/lib/sass/exec.rb:22:in `parse!'
/var/lib/gems/1.9.1/gems/sass-3.3.2/bin/sass:13:in `<top (required)>'
/usr/local/bin/sass:23:in `load'
/usr/local/bin/sass:23:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Errno::ENOENT: No such file or directory - main.scss"; }
