/*
 ---------------------------Common Styles--------------------*/
html, body {
  height: 100%; }

body {
  font-family: 'Lato', sans-serif;
  background-color: #f8f8f8;
  color: #3f3f3f;
  overflow-x: hidden; }

a {
  color: #3f3f3f;
  text-decoration: none; }
  a img {
    border: none; }

.under {
  text-decoration: underline; }

p {
  font-size: 1.125rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  line-height: 1.5; }

.btn {
  display: inline-block;
  padding: 6px 12px;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.45;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 2px;
  cursor: pointer; }

.red {
  color: #e74d3c; }

.white {
  color: white; }

.dark-grey {
  color: #9f9f9f; }

.bg-white {
  background-color: white; }

.bg-red {
  background-color: #e74d3c; }

.fg-lite-black {
  color: #a0a0a1; }

.bg-lite-black {
  background-color: #a0a0a1; }

.shadow {
  -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3); }

.share-facebook {
  color: white;
  background-color: #3b5998; }

.share-twitter {
  color: white;
  background-color: #55acee; }

.share-google {
  color: white;
  background-color: #c95035; }

.no-shadow.no-shadow.no-shadow {
  -webkit-box-shadow: 0px 0px 0px #000;
  -moz-box-shadow: 0px 0px 0px #000;
  box-shadow: 0px 0px 0px #000; }

.lower {
  text-transform: lowercase; }

.no-display {
  display: none; }

strong, b {
  font-weight: bold; }

/*
 ---------------------------Header---------------------------*/
header {
  width: 100%;
  position: relative;
  background-color: #fff;
  box-shadow: inset 0px -1px 2px rgba(0, 0, 0, 0.3); }
  header #logo {
    float: left; }
    header #logo h2 {
      font-size: 3rem;
      text-align: center;
      line-height: 1; }
      header #logo h2 a {
        color: #e74d3c;
        font-weight: 300; }
      header #logo h2 span {
        font-size: 1rem; }
  header nav#main-menu {
    float: right; }
    header nav#main-menu li {
      display: inline-block;
      position: relative;
      padding: 10px 0px;
      margin-left: 15px; }
      header nav#main-menu li a {
        display: block;
        position: relative;
        padding: 10px 10px 5px;
        text-transform: uppercase;
        font-size: 0.875rem;
        font-weight: 400;
        overflow: hidden; }
        header nav#main-menu li a:before {
          content: "";
          position: absolute;
          width: 100%;
          height: 4px;
          background-color: #e74d3c;
          top: 0;
          left: 0;
          -webkit-transform: translateY(-100%);
          -moz-transform: translateY(-100%);
          -ms-transform: translateY(-100%);
          -o-transform: translateY(-100%);
          transform: translateY(-100%);
          -webkit-transition: transform 0.3s ease-in-out;
          -moz-transition: transform 0.3s ease-in-out;
          -ms-transition: transform 0.3s ease-in-out;
          -o-transition: transform 0.3s ease-in-out;
          transition: transform 0.3s ease-in-out; }
        header nav#main-menu li a:hover:before, header nav#main-menu li a.active:before {
          -webkit-transform: translateY(0%);
          -moz-transform: translateY(0%);
          -ms-transform: translateY(0%);
          -o-transform: translateY(0%);
          transform: translateY(0%); }
  header:after {
    content: " ";
    display: table;
    clear: both; }

/*
 ---------------------------Section---------------------------*/
section {
  width: 100%;
  min-height: 100%;
  position: relative; }
  section .intro {
    width: 100%;
    height: 500px;
    position: relative;
    background: white url(../img/intro.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover; }
    section .intro .cover {
      width: 100%; }
    section .intro .overlay {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      background-color: rgba(255, 255, 255, 0.5); }
      section .intro .overlay h1 {
        font-size: 4rem; }
        section .intro .overlay h1 span {
          color: #e74d3c; }
      section .intro .overlay a {
        background-color: #e74d3c;
        color: white; }
    section .intro + div {
      box-shadow: inset 0px 8px 6px -6px rgba(0, 0, 0, 0.3), inset 0px -8px 6px -6px rgba(0, 0, 0, 0.3); }
      section .intro + div > div > div {
        position: relative;
        padding: 15px;
        margin: 10px 5px; }
        section .intro + div > div > div .iC {
          left: 0%;
          -webkit-transform: translate(0%) rotate(45deg);
          -moz-transform: translate(0%) rotate(45deg);
          -ms-transform: translate(0%) rotate(45deg);
          -o-transform: translate(0%) rotate(45deg);
          transform: translate(0%) rotate(45deg);
          width: 70px;
          height: 70px;
          background-color: #e74d3c;
          -webkit-box-shadow: 0px 0px 2px #e74d3c;
          -moz-box-shadow: 0px 0px 2px #e74d3c;
          box-shadow: 0px 0px 2px #e74d3c;
          overflow: hidden;
          border: none;
          -webkit-transform: translate(0%) rotate(0deg);
          -moz-transform: translate(0%) rotate(0deg);
          -ms-transform: translate(0%) rotate(0deg);
          -o-transform: translate(0%) rotate(0deg);
          transform: translate(0%) rotate(0deg); }
          section .intro + div > div > div .iC i {
            -webkit-transform: translate(-50%, -50%) rotate(0deg);
            -moz-transform: translate(-50%, -50%) rotate(0deg);
            -ms-transform: translate(-50%, -50%) rotate(0deg);
            -o-transform: translate(-50%, -50%) rotate(0deg);
            transform: translate(-50%, -50%) rotate(0deg); }
          section .intro + div > div > div .iC:before, section .intro + div > div > div .iC .right, section .intro + div > div > div .iC:after, section .intro + div > div > div .iC .left {
            background-color: transparent !important; }
        section .intro + div > div > div > span {
          left: 105px;
          font-size: 1.125em; }
  section .mW-2 .iC {
    left: 50%;
    -webkit-transform: translate(-50%) rotate(45deg);
    -moz-transform: translate(-50%) rotate(45deg);
    -ms-transform: translate(-50%) rotate(45deg);
    -o-transform: translate(-50%) rotate(45deg);
    transform: translate(-50%) rotate(45deg);
    width: 120px;
    height: 120px;
    background-color: #e74d3c;
    -webkit-box-shadow: 0px 0px 2px #e74d3c;
    -moz-box-shadow: 0px 0px 2px #e74d3c;
    box-shadow: 0px 0px 2px #e74d3c;
    overflow: hidden; }
  section .mW-2 p {
    text-align: center; }
  section .mW-3 img {
    float: left;
    width: 80px;
    height: 80px; }
  section .mW-3 .mW-3-1 > div {
    height: 104px;
    padding: 10px;
    margin: 5px;
    border-radius: 3px; }
    section .mW-3 .mW-3-1 > div:nth-child(1) {
      border: 2px solid #092e20; }
      section .mW-3 .mW-3-1 > div:nth-child(1) h3 {
        color: #092e20; }
    section .mW-3 .mW-3-1 > div:nth-child(2) {
      border: 2px solid #eeba37; }
      section .mW-3 .mW-3-1 > div:nth-child(2) h3 {
        color: #eeba37; }
    section .mW-3 .mW-3-1 > div:nth-child(3) {
      border: 2px solid #b52e31; }
      section .mW-3 .mW-3-1 > div:nth-child(3) h3 {
        color: #b52e31; }

.iC i {
  color: white;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
  -moz-transform: translate(-50%, -50%) rotate(-45deg);
  -ms-transform: translate(-50%, -50%) rotate(-45deg);
  -o-transform: translate(-50%, -50%) rotate(-45deg);
  transform: translate(-50%, -50%) rotate(-45deg);
  text-shadow: #e1402a 1px 1px, #e1412b 2px 2px, #e1412b 3px 3px, #e1412b 4px 4px, #e1412b 5px 5px, #e1412b 6px 6px, #e1412b 7px 7px, #e1412b 8px 8px, #e1412b 9px 9px, #e1412b 10px 10px, #e1412b 11px 11px, #e1412b 12px 12px, #e1422c 13px 13px, #e1432d 14px 14px, #e2442e 15px 15px, #e2452f 16px 16px, #e24630 17px 17px, #e34731 18px 18px, #e34832 19px 19px, #e34933 20px 20px, #e44a34 21px 21px, #e44b35 22px 22px, #e44c36 23px 23px, #e54d37 24px 24px, #e54e38 25px 25px, #e54f39 26px 26px, #e6503a 27px 27px, #e6513b 28px 28px, #e6523c 29px 29px, #e7533d 30px 30px;
  -webkit-transition: color 0.2s linear 0.8s;
  -moz-transition: color 0.2s linear 0.8s;
  -ms-transition: color 0.2s linear 0.8s;
  -o-transition: color 0.2s linear 0.8s;
  transition: color 0.2s linear 0.8s; }
.iC:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 3px;
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -o-transform: translateX(-100%);
  transform: translateX(-100%);
  background-color: white;
  -webkit-transition: transform 0.2s linear 0.6s;
  -moz-transition: transform 0.2s linear 0.6s;
  -ms-transition: transform 0.2s linear 0.6s;
  -o-transition: transform 0.2s linear 0.6s;
  transition: transform 0.2s linear 0.6s; }
.iC .right {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 3px;
  height: 100%;
  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  -o-transform: translateY(-100%);
  transform: translateY(-100%);
  background-color: white;
  -webkit-transition: transform 0.2s linear 0.4s;
  -moz-transition: transform 0.2s linear 0.4s;
  -ms-transition: transform 0.2s linear 0.4s;
  -o-transition: transform 0.2s linear 0.4s;
  transition: transform 0.2s linear 0.4s; }
.iC:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3px;
  -webkit-transform: translateX(100%);
  -moz-transform: translateX(100%);
  -ms-transform: translateX(100%);
  -o-transform: translateX(100%);
  transform: translateX(100%);
  background-color: white;
  -webkit-transition: transform 0.2s linear 0.2s;
  -moz-transition: transform 0.2s linear 0.2s;
  -ms-transition: transform 0.2s linear 0.2s;
  -o-transition: transform 0.2s linear 0.2s;
  transition: transform 0.2s linear 0.2s; }
.iC .left {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 3px;
  height: 100%;
  -webkit-transform: translateY(100%);
  -moz-transform: translateY(100%);
  -ms-transform: translateY(100%);
  -o-transform: translateY(100%);
  transform: translateY(100%);
  background-color: white;
  -webkit-transition: transform 0.2s linear;
  -moz-transition: transform 0.2s linear;
  -ms-transition: transform 0.2s linear;
  -o-transition: transform 0.2s linear;
  transition: transform 0.2s linear; }
.iC.ho-Me:hover:before, .iC.active:before {
  -webkit-transform: translateX(0%);
  -moz-transform: translateX(0%);
  -ms-transform: translateX(0%);
  -o-transform: translateX(0%);
  transform: translateX(0%);
  -webkit-transition: transform 0.5s linear;
  -moz-transition: transform 0.5s linear;
  -ms-transition: transform 0.5s linear;
  -o-transition: transform 0.5s linear;
  transition: transform 0.5s linear; }
.iC.ho-Me:hover .right, .iC.active .right {
  -webkit-transform: translateY(0%);
  -moz-transform: translateY(0%);
  -ms-transform: translateY(0%);
  -o-transform: translateY(0%);
  transform: translateY(0%);
  -webkit-transition: transform 0.5s linear 0.5s;
  -moz-transition: transform 0.5s linear 0.5s;
  -ms-transition: transform 0.5s linear 0.5s;
  -o-transition: transform 0.5s linear 0.5s;
  transition: transform 0.5s linear 0.5s; }
.iC.ho-Me:hover:after, .iC.active:after {
  -webkit-transform: translateX(0%);
  -moz-transform: translateX(0%);
  -ms-transform: translateX(0%);
  -o-transform: translateX(0%);
  transform: translateX(0%);
  -webkit-transition: transform 0.5s linear 1s;
  -moz-transition: transform 0.5s linear 1s;
  -ms-transition: transform 0.5s linear 1s;
  -o-transition: transform 0.5s linear 1s;
  transition: transform 0.5s linear 1s; }
.iC.ho-Me:hover .left, .iC.active .left {
  -webkit-transform: translateY(0%);
  -moz-transform: translateY(0%);
  -ms-transform: translateY(0%);
  -o-transform: translateY(0%);
  transform: translateY(0%);
  -webkit-transition: transform 0.5s linear 1.5s;
  -moz-transition: transform 0.5s linear 1.5s;
  -ms-transition: transform 0.5s linear 1.5s;
  -o-transition: transform 0.5s linear 1.5s;
  transition: transform 0.5s linear 1.5s; }

/*
 ---------------------------Blog-----------------------------*/
.bP-S .fE-img img {
  max-height: 450px; }
.bP-S .post-meta {
  position: absolute;
  top: 5px;
  left: 10px;
  font-size: 0.875rem; }
  .bP-S .post-meta a {
    margin-left: 3px; }
.bP-S .date-dd {
  right: 10px;
  bottom: 0px; }
.bP-S .rM {
  text-decoration: underline; }
.bP-S .dD-p {
  position: absolute;
  left: 0%;
  -webkit-transform: translate(45%) rotate(45deg);
  -moz-transform: translate(45%) rotate(45deg);
  -ms-transform: translate(45%) rotate(45deg);
  -o-transform: translate(45%) rotate(45deg);
  transform: translate(45%) rotate(45deg);
  width: 60px;
  height: 60px;
  background-color: #e74d3c;
  -webkit-box-shadow: 0px 0px 2px #e74d3c;
  -moz-box-shadow: 0px 0px 2px #e74d3c;
  box-shadow: 0px 0px 2px #e74d3c;
  overflow: hidden;
  top: 20px; }
  .bP-S .dD-p .date-C {
    color: #a0a0a1;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%) rotate(-45deg);
    -moz-transform: translate(-50%, -50%) rotate(-45deg);
    -ms-transform: translate(-50%, -50%) rotate(-45deg);
    -o-transform: translate(-50%, -50%) rotate(-45deg);
    transform: translate(-50%, -50%) rotate(-45deg);
    -webkit-transition: color 0.2s linear 0.8s;
    -moz-transition: color 0.2s linear 0.8s;
    -ms-transition: color 0.2s linear 0.8s;
    -o-transition: color 0.2s linear 0.8s;
    transition: color 0.2s linear 0.8s; }
    .bP-S .dD-p .date-C span {
      position: relative; }
    .bP-S .dD-p .date-C span:nth-child(1) {
      top: 5px;
      left: 2px; }
    .bP-S .dD-p .date-C span:nth-child(2) {
      top: -3px; }
    .bP-S .dD-p .date-C span:nth-child(3) {
      top: -15px; }
  .bP-S .dD-p:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 3px;
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transform: translateX(-100%);
    background-color: white;
    -webkit-transition: transform 0.2s linear 0.6s;
    -moz-transition: transform 0.2s linear 0.6s;
    -ms-transition: transform 0.2s linear 0.6s;
    -o-transition: transform 0.2s linear 0.6s;
    transition: transform 0.2s linear 0.6s; }
  .bP-S .dD-p .right {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 3px;
    height: 100%;
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    transform: translateY(-100%);
    background-color: white;
    -webkit-transition: transform 0.2s linear 0.4s;
    -moz-transition: transform 0.2s linear 0.4s;
    -ms-transition: transform 0.2s linear 0.4s;
    -o-transition: transform 0.2s linear 0.4s;
    transition: transform 0.2s linear 0.4s; }
  .bP-S .dD-p:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
    transform: translateX(100%);
    background-color: white;
    -webkit-transition: transform 0.2s linear 0.2s;
    -moz-transition: transform 0.2s linear 0.2s;
    -ms-transition: transform 0.2s linear 0.2s;
    -o-transition: transform 0.2s linear 0.2s;
    transition: transform 0.2s linear 0.2s; }
  .bP-S .dD-p .left {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 3px;
    height: 100%;
    -webkit-transform: translateY(100%);
    -moz-transform: translateY(100%);
    -ms-transform: translateY(100%);
    -o-transform: translateY(100%);
    transform: translateY(100%);
    background-color: white;
    -webkit-transition: transform 0.2s linear;
    -moz-transition: transform 0.2s linear;
    -ms-transition: transform 0.2s linear;
    -o-transition: transform 0.2s linear;
    transition: transform 0.2s linear; }
  .bP-S .dD-p.active:before {
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
    transform: translateX(0%);
    -webkit-transition: transform 0.2s linear;
    -moz-transition: transform 0.2s linear;
    -ms-transition: transform 0.2s linear;
    -o-transition: transform 0.2s linear;
    transition: transform 0.2s linear; }
  .bP-S .dD-p.active .right {
    -webkit-transform: translateY(0%);
    -moz-transform: translateY(0%);
    -ms-transform: translateY(0%);
    -o-transform: translateY(0%);
    transform: translateY(0%);
    -webkit-transition: transform 0.2s linear 0.2s;
    -moz-transition: transform 0.2s linear 0.2s;
    -ms-transition: transform 0.2s linear 0.2s;
    -o-transition: transform 0.2s linear 0.2s;
    transition: transform 0.2s linear 0.2s; }
  .bP-S .dD-p.active:after {
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
    transform: translateX(0%);
    -webkit-transition: transform 0.2s linear 0.4s;
    -moz-transition: transform 0.2s linear 0.4s;
    -ms-transition: transform 0.2s linear 0.4s;
    -o-transition: transform 0.2s linear 0.4s;
    transition: transform 0.2s linear 0.4s; }
  .bP-S .dD-p.active .left {
    -webkit-transform: translateY(0%);
    -moz-transform: translateY(0%);
    -ms-transform: translateY(0%);
    -o-transform: translateY(0%);
    transform: translateY(0%);
    -webkit-transition: transform 0.2s linear 0.6s;
    -moz-transition: transform 0.2s linear 0.6s;
    -ms-transition: transform 0.2s linear 0.6s;
    -o-transition: transform 0.2s linear 0.6s;
    transition: transform 0.2s linear 0.6s; }
  .bP-S .dD-p.active span {
    color: #e74d3c; }

.img-responsive {
  width: 100%;
  max-height: 600px; }

.post-cover {
  height: 222px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: 50% 25%; }

.tags li {
  display: inline-block;
  padding: 0px 5px;
  margin-left: 5px;
  background-color: #e74d3c;
  border-radius: 2px; }
  .tags li:nth-child(1) {
    background-color: transparent; }
  .tags li a {
    color: white; }

/*
 ---------------------------Related Posts-------------------------*/
#related-posts h3 {
  color: #e74d3c;
  font-size: 2.25em; }
#related-posts li a {
  display: inline-block;
  font-size: 1.375em;
  text-decoration: underline;
  margin-top: 5px; }

/*
 ---------------------------comments-------------------------*/
#comments label {
  display: block;
  line-height: 1.75;
  margin-bottom: 5px; }
#comments input, #comments textarea {
  display: block;
  width: 100%;
  padding: 10px 5px;
  border-radius: 5px;
  font-size: 1em;
  border: 1px solid #a0a0a1; }
#comments .help-block {
  display: none; }
#comments input[type="submit"] {
  background-color: #e74d3c;
  color: white;
  margin: 10px 0px;
  border: none; }
#comments .form-group {
  margin-top: 10px;
  margin-bottom: 10px; }
#comments div[id^="comment-"] img {
  float: left;
  width: 50px;
  margin: 5px; }

/*
----------------------------Previous and Next Post----------------------------*/
.pager li {
  width: 50%;
  position: relative; }
  .pager li a {
    width: 40px;
    height: 40px;
    display: inline-block; }
  .pager li .iC {
    left: 0%;
    -webkit-transform: translate(0%) rotate(45deg);
    -moz-transform: translate(0%) rotate(45deg);
    -ms-transform: translate(0%) rotate(45deg);
    -o-transform: translate(0%) rotate(45deg);
    transform: translate(0%) rotate(45deg);
    width: 40px;
    height: 40px;
    background-color: #e74d3c;
    -webkit-box-shadow: 0px 0px 2px #e74d3c;
    -moz-box-shadow: 0px 0px 2px #e74d3c;
    box-shadow: 0px 0px 2px #e74d3c;
    overflow: hidden; }
  .pager li > span {
    display: inline-block;
    width: calc(100% - 80px);
    margin-left: 15px;
    margin-top: -5px; }
.pager .next > span {
  margin-right: 15px;
  text-align: right; }

@media (min-width: 769px) {
  .post {
    border-radius: 100%;
    background-color: white;
    display: inline-block;
    width: 80px;
    height: 80px;
    -webkit-box-shadow: 0px 0px 3px #b1bfb2;
    -moz-box-shadow: 0px 0px 3px #b1bfb2;
    box-shadow: 0px 0px 3px #b1bfb2;
    position: fixed;
    top: 50%; }
    .post i {
      position: absolute;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      -o-transform: translateY(-50%);
      transform: translateY(-50%);
      font-weight: 100;
      font-size: 1.5rem; }
    .post span {
      visibility: hidden;
      opacity: 0;
      position: absolute;
      top: 50%;
      background-color: white;
      padding: 5px 10px;
      font-size: 0.875em;
      width: 120px; }
      .post span:after, .post span:before {
        content: "";
        position: absolute;
        top: 50%;
        -webkit-transform: translate(0%, -50%);
        -moz-transform: translate(0%, -50%);
        -ms-transform: translate(0%, -50%);
        -o-transform: translate(0%, -50%);
        transform: translate(0%, -50%);
        width: 0;
        height: 0;
        border: 6px solid transparent; }
    .post:hover span {
      visibility: visible;
      opacity: 1;
      -webkit-transform: translate(0%, -50%);
      -moz-transform: translate(0%, -50%);
      -ms-transform: translate(0%, -50%);
      -o-transform: translate(0%, -50%);
      transform: translate(0%, -50%); }

  .prev-post {
    left: 0;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }
    .prev-post i {
      right: 5px; }
    .prev-post span {
      left: 88px;
      -webkit-transform: translate(20%, -50%);
      -moz-transform: translate(20%, -50%);
      -ms-transform: translate(20%, -50%);
      -o-transform: translate(20%, -50%);
      transform: translate(20%, -50%);
      -webkit-transition: transform 0.5s ease-in-out,opacity 0.5s ease-in-out;
      -moz-transition: transform 0.5s ease-in-out,opacity 0.5s ease-in-out;
      -ms-transition: transform 0.5s ease-in-out,opacity 0.5s ease-in-out;
      -o-transition: transform 0.5s ease-in-out,opacity 0.5s ease-in-out;
      transition: transform 0.5s ease-in-out,opacity 0.5s ease-in-out; }
      .prev-post span:after, .prev-post span:before {
        border-left-width: 0;
        border-right-color: #fff; }
      .prev-post span:after {
        left: -6px; }
      .prev-post span:before {
        border-right-color: #b1bfb2;
        left: -7px; }

  .next-post {
    right: 0;
    -webkit-transform: translate(50%, -50%);
    -moz-transform: translate(50%, -50%);
    -ms-transform: translate(50%, -50%);
    -o-transform: translate(50%, -50%);
    transform: translate(50%, -50%); }
    .next-post i {
      left: 5px; }
    .next-post span {
      right: 88px;
      -webkit-transform: translate(-20%, -50%);
      -moz-transform: translate(-20%, -50%);
      -ms-transform: translate(-20%, -50%);
      -o-transform: translate(-20%, -50%);
      transform: translate(-20%, -50%);
      -webkit-transition: transform 0.5s ease-in-out,opacity 0.5s ease-in-out;
      -moz-transition: transform 0.5s ease-in-out,opacity 0.5s ease-in-out;
      -ms-transition: transform 0.5s ease-in-out,opacity 0.5s ease-in-out;
      -o-transition: transform 0.5s ease-in-out,opacity 0.5s ease-in-out;
      transition: transform 0.5s ease-in-out,opacity 0.5s ease-in-out; }
      .next-post span:after, .next-post span:before {
        border-right-width: 0;
        border-left-color: #fff; }
      .next-post span:after {
        right: -6px; }
      .next-post span:before {
        border-left-color: #b1bfb2;
        right: -7px; } }
/*
 ---------------------------Contact Us-----------------------*/
iframe {
  width: 100%;
  height: 350px;
  border: 0; }

.cC-form label {
  display: block;
  line-height: 1.7;
  bottom: 5px;
  font-weight: 400; }
.cC-form input, .cC-form textarea {
  display: block;
  width: 100%;
  padding: 10px 5px;
  border-radius: 3px;
  font-size: 1em;
  border: 1px solid #a0a0a1; }
.cC-form input[type="button"] {
  background-color: #e74d3c;
  color: white;
  margin: 10px 0px;
  border: none; }

/*
 ---------------------------Services-------------------------*/
img + p {
  text-align: justify; }

/*
 ---------------------------Technology-------------------------*/
@media (min-width: 769px) {
  .tg-h {
    height: 180px; }
    .tg-h div:nth-of-type(1) {
      height: 180px; } }
@media (min-width: 1px) and (max-width: 768px) {
  .tg-h div:nth-of-type(1) {
    height: 80px; } }
.tg-h:nth-of-type(1) div:nth-of-type(1) {
  background-color: #2d618c; }
.tg-h:nth-of-type(2) div:nth-of-type(1) {
  background-color: #092e20; }
.tg-h:nth-of-type(3) div:nth-of-type(1) {
  background-color: #b52e31; }
.tg-h:nth-of-type(4) div:nth-of-type(1) {
  background-color: #a0a0a1; }
.tg-h:nth-of-type(5) div:nth-of-type(1) {
  background-color: #3b2f63; }
.tg-h:nth-of-type(6) div:nth-of-type(1) {
  background-color: #eeba37; }
.tg-h:nth-of-type(7) div:nth-of-type(1) {
  background-color: #6d6d6d; }

/*
 ---------------------------Footer---------------------------*/
footer {
  width: 100%;
  position: relative;
  background-color: #656565; }
  footer ul li {
    color: #9f9f9f;
    padding: 5px; }
    footer ul li:first-child {
      border: none;
      padding: 0px; }
    footer ul li a {
      color: white; }
  footer .foo-main {
    width: 100%;
    position: relative;
    background-color: #3f3f3f;
    padding: 5px; }
    footer .foo-main p {
      margin: 5px; }

/*
 --------------------------Table---------------------*/
table {
  width: 100%; }
  table tr td {
    padding: 5px;
    border: 1px solid #CCD1D9; }
  table tr td:nth-of-type(1) {
    padding-left: 10px; }
  table tr:nth-of-type(even) {
    background-color: #f3f4f5; }

/*
 --------------------------Media Queries---------------------*/
@media (min-width: 769px) {
  .intro + div > div > div {
    float: left;
    display: inline-block; }

  .cWrap {
    margin-top: -80px; }

  .testmon--body {
    height: 280px; }
    .testmon--body .testmon--detail li p:first-child {
      max-height: 95px; } }
@media (min-width: 1px) and (max-width: 768px) {
  header {
    padding: 10px; }

  .mW-3-1 > div, .mW-3-2 > div {
    margin: 10px 0px; }

  .img-1, .img-2, .img-4 {
    width: 100%; }

  .mobi-nav {
    position: absolute;
    right: 10px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #e74d3c;
    cursor: pointer;
    z-index: 100;
    -webkit-transition: background-color 0.25s ease-in-out;
    -moz-transition: background-color 0.25s ease-in-out;
    -ms-transition: background-color 0.25s ease-in-out;
    -o-transition: background-color 0.25s ease-in-out;
    transition: background-color 0.25s ease-in-out; }
    .mobi-nav.active {
      background-color: white; }
    .mobi-nav span {
      display: inline-block;
      width: 18px;
      height: 3px;
      background-color: white; }
      .mobi-nav span:after, .mobi-nav span:before {
        content: "";
        position: absolute;
        top: 0;
        width: 18px;
        height: 3px;
        background-color: white;
        -webkit-transform: translateY(6px) rotate(0deg);
        -moz-transform: translateY(6px) rotate(0deg);
        -ms-transform: translateY(6px) rotate(0deg);
        -o-transform: translateY(6px) rotate(0deg);
        transform: translateY(6px) rotate(0deg);
        -webkit-transition: transform 0.5s ease-in-out;
        -moz-transition: transform 0.5s ease-in-out;
        -ms-transition: transform 0.5s ease-in-out;
        -o-transition: transform 0.5s ease-in-out;
        transition: transform 0.5s ease-in-out; }
      .mobi-nav span:before {
        -webkit-transform: translateY(-6px) rotate(0deg);
        -moz-transform: translateY(-6px) rotate(0deg);
        -ms-transform: translateY(-6px) rotate(0deg);
        -o-transform: translateY(-6px) rotate(0deg);
        transform: translateY(-6px) rotate(0deg); }
      .mobi-nav span.active {
        background-color: rgba(255, 255, 255, 0); }
      .mobi-nav span.active:after {
        -webkit-transform: translateY(0px) rotate(45deg);
        -moz-transform: translateY(0px) rotate(45deg);
        -ms-transform: translateY(0px) rotate(45deg);
        -o-transform: translateY(0px) rotate(45deg);
        transform: translateY(0px) rotate(45deg);
        background-color: #e74d3c; }
      .mobi-nav span.active:before {
        -webkit-transform: translateY(0px) rotate(-45deg);
        -moz-transform: translateY(0px) rotate(-45deg);
        -ms-transform: translateY(0px) rotate(-45deg);
        -o-transform: translateY(0px) rotate(-45deg);
        transform: translateY(0px) rotate(-45deg);
        background-color: #e74d3c; }

  body {
    overflow-x: hidden; }

  .mob-main-nav {
    background-color: #fff;
    width: 250px;
    height: 100%;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 99;
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
    transform: translateX(100%);
    -webkit-transition: transform 0.3s ease-in-out;
    -moz-transition: transform 0.3s ease-in-out;
    -ms-transition: transform 0.3s ease-in-out;
    -o-transition: transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out; }
    .mob-main-nav.active {
      -webkit-transform: translateX(0%);
      -moz-transform: translateX(0%);
      -ms-transform: translateX(0%);
      -o-transform: translateX(0%);
      transform: translateX(0%); }
    .mob-main-nav ul {
      margin: 0; }
      .mob-main-nav ul li {
        width: 100%;
        background-color: white;
        box-shadow: 0px 1px 2px #b1bfb3;
        margin-top: 2px;
        padding: 10px; }
        .mob-main-nav ul li:first-child {
          background-color: #e74d3c;
          color: white; }
        .mob-main-nav ul li a {
          display: block;
          padding: 5px;
          font-size: 1.25rem; } }
.blog-content ul {
  position: relative;
  left: 6%; }
  .blog-content ul li {
    list-style-type: disc;
    font-size: 1.125em; }
.blog-content img {
  display: block;
  margin-left: auto;
  margin-right: auto; }

.img-thumbnail {
  width: 100%; }

.testmon .testmon--body {
  box-shadow: inset 0px 8px 6px -6px rgba(0, 0, 0, 0.3), inset 0px -8px 6px -6px rgba(0, 0, 0, 0.3); }
  .testmon .testmon--body .testmon--detail {
    padding-top: 2.5rem; }
    .testmon .testmon--body .testmon--detail li {
      display: block;
      width: 100%;
      padding: 0px 3.125rem; }
      .testmon .testmon--body .testmon--detail li p {
        color: #818181; }
        .testmon .testmon--body .testmon--detail li p:first-child {
          line-height: 1.75; }
        .testmon .testmon--body .testmon--detail li p:last-child {
          padding-top: 1.875em; }
        .testmon .testmon--body .testmon--detail li p span {
          display: block; }
