{% load mezzanine_tags %}

{% editable_loader %}

<script type="text/javascript">
	{% if settings.GOOGLE_ANALYTICS_ID and not request.user.is_staff %}
		var _gaq = _gaq || [['_trackPageview']];
		_gaq.unshift(['_setAccount', '{{ settings.GOOGLE_ANALYTICS_ID }}']);
		(function(d, t) {
		    var g = d.createElement(t),
		        s = d.getElementsByTagName(t)[0];
		    g.async = true;
		    g.src = '//www.google-analytics.com/ga.js';
		    s.parentNode.insertBefore(g, s);
		})(document, 'script');
	{% endif %}

	WebFontConfig = {
		google: { families: [ 'Lato:100,300,400,700,900:latin' ] }
	};
	(function() {
		var wf = document.createElement('script');
		wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
					'://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
		wf.type = 'text/javascript';
		wf.async = 'true';
		var s = document.getElementsByTagName('script')[0];
		s.parentNode.insertBefore(wf, s);
	})(); 
 	window.twttr=(function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],t=window.twttr||{};if(d.getElementById(id))return;js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);t._e=[];t.ready=function(f){t._e.push(f);};return t;}(document,"script","twitter-wjs"));
 	var _kmq = _kmq || []; var _kmk = _kmk || '5815e846cbdf3da1db576c3dd54e02dcc4eb667f'; function _kms(u){ setTimeout(function(){ var d = document, f = d.getElementsByTagName('script')[0], s = d.createElement('script'); s.type = 'text/javascript'; s.async = true; s.src = u; f.parentNode.insertBefore(s, f); }, 1); } _kms('//i.kissmetrics.com/i.js'); _kms('//doug1izaerwt3.cloudfront.net/' + _kmk + '.1.js');
 </script>
 <!-- Place this tag in your head or just before your close body tag. -->
<script src="https://apis.google.com/js/platform.js" async defer></script>


