{% extends "pages/page.html" %}

{% load mezzanine_tags %}
{% load static %}
{% block main %}{{ block.super }}
<section>
{% if page.title == "Contact Us" %}
	<p class="mt-0">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3806.4066751716396!2d78.39972699999997!3d17.440239000000002!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bcb91447502a14d%3A0xe77a3a3207985ab2!2sAptuz+Technology+Solutions!5e0!3m2!1sen!2sin!4v1423564243754"></iframe>
    </p>
{% endif %}
{% if page.title == "Services" %}
	<div class="intro" style="background-image:url('{% static "img/services.jpg"%}')">
        <div class="overlay">
            <div class="cover pos-a xy-center txt-center">
                <h1 class="b-300">Our <span>Services</span></h1>
                <a href="#" class="btn lmore">Learn More...</a>
            </div>
        </div>
    </div>
{% endif %}
{% if page.title == "Technology" %}
    <div class="intro" style="background-image:url('{% static "img/technology.jpg"%}')">
        <div class="overlay">
            <div class="cover pos-a xy-center txt-center">
                <h1 class="b-300">Technology <span>We Use</span></h1>
                <a href="#" class="btn lmore">Learn More...</a>
            </div>
        </div>
    </div>
{% endif %}
{% if page.title == "Career" %}
    <div class="intro" style="background-image:url('{% static "img/Careers1.jpg"%}')">
        <div class="overlay">
            <div class="cover pos-a xy-center txt-center">
                <h1 class="b-300">Our <span>Career</span></h1>
                <a href="#" class="btn lmore">Learn More...</a>
            </div>
        </div>
    </div>
{% endif%}
{% if page.title == "About Us" %}
    <div class="intro" style="background-image:url('{% static "img/about.jpg"%}')">
        <div class="overlay">
            <div class="cover pos-a xy-center txt-center">
                <h1 class="b-300">About <span>Us</span></h1>
                <a href="#" class="btn lmore">Learn More...</a>
            </div>
        </div>
    </div>
{% endif %}
<section class="container">
	{% editable page.richtextpage.content %}
	{{ page.richtextpage.content|richtext_filters|safe }}
	{% endeditable %}
</section>
</section>

{% endblock %}
{% block testmon %}
    {% if page.title == "About Us" %}
        <div class="container mt-30 mb-30 p-20 testmon">
            <h2 class="txt-center rem f-36 red mb-20 testmon--header">See What Our Customers Says About Us!</h2>
            <div class="row testmon--body">
                <ul class="testmon--detail">
                    <li>
                        <p class="rem f-18">
                            Our work with Sagar Potluru and his team at Aptuz Technology Solutions for Wingate by Wyndham, New Braunfels resulted in a net increase of 8 percent revenue in the first 3 months.  That was beyond our expectations in terms of revenue increase. 
                        </p>
                        <p class="txt-center">
                            <a href="https://www.linkedin.com/pub/nagi-patibandla/1/653/722" target="_blank">
                                <span class="red rem f-16 bold">
                                    Nagi Patibandla
                                </span>
                                <span class="rem f-14 fg-lite-black">
                                    Managing Partner, Dolomite Holdings, LLC
                                </span>
                                <!-- <span class="rating star-5"></span> -->
                            </a>
                        </p>
                    </li>
                    <li>
                        <p class="rem f-18">
                            Aptuz developed fully automated vehicle tracking system by using mobile technology, which is the first of its kind in India. Workshop efficiency increased by 20% after implementing this in our workshop and we are also seeing a good improvement in our Customer Satisfaction score.
                        </p>
                        <p class="txt-center">
                            <a href="https://www.linkedin.com/pub/harsha-hanumara/3/9a9/a18" target="_blank">
                                <span class="red rem f-16 bold">
                                    Harsha Hanumara
                                </span>
                                <span class="rem f-14 fg-lite-black">
                                    Director at Neon Motors Pvt Ltd &amp; Olive Auto Pvt Ltd
                                </span>
                                <!-- <span class="rating star-5"></span> -->
                            </a>
                        </p>
                    </li>
                    <li>
                        <p class="rem f-18">
                            We thank <a href="https://www.linkedin.com/pub/yaswanth-yashu/52/746/b28" class="under">Yaswanth</a> and <a href="https://www.linkedin.com/pub/partha-saradhi-reddy/93/881/281" class="under">Pardha Saradhi</a> at Aptuz Team for their wonderful efforts in product development.
                        </p>
                        <p class="txt-center">
                            <a href="https://www.feazt.com/" target="_blank">
                                <span class="red rem f-16 bold">
                                    Gopi KrishnaKishore
                                </span>
                                <span class="rem f-14 fg-lite-black">
                                    Founder &amp; CEO at Feazt Interactive Systems pvt. Ltd
                                </span>
                            </a>
                        </p>
                    </li>
                </ul>
            </div>
        </div>
    {% endif%}
{% endblock %}
